<p>{{loginMessage}}</p>
<table>
    <tr>
        <td>
            <button class="btn btn-success" (click)="AddNewBlog()">Add New Blog</button>            
        </td>
    </tr>
</table>
<br/>
<table border="1" style="width: 100%">
    <tr *ngIf="IsBlogsAvailable()" style="background-color: #6b6bf3; height: 40px; text-align: center; border: 1px">
        <td>Blog name</td>
        <td>Category</td>
        <td>Article</td>
        <td>Author</td>
        <td>Created On</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let blog of blogs"style="color: black; height: 40px; text-align: center; border: 1px">
        <td style="width: 20%">{{blog.blogName | slice:0:25}}</td>
        <td style="width: 20%">{{blog.category | slice:0:25}}</td>
        <td style="width: 20%">{{blog.article | slice:0:25}}</td>
        <td style="width: 15%">{{blog.createdBy}}</td>
        <td style="width: 20%">{{blog.createdOn | date:'dd-MM-yyyy hh:mm:ss a'}}</td>
        <td style="width: 5%">
            <a style="text-decoration: underline; cursor: pointer;" (click)="ViewBlog(blog.id)">View</a>
            <a style="text-decoration: underline; cursor: pointer;" (click)="DeleteBlog(blog.id)">Delete</a>
        </td>
    </tr>
</table>